* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(192, 108, 180);
}

table {
    margin: auto;
    position: relative;
    top: 200px;
    background-color: rgba(222, 184, 135, 0.549);
}

thead {
    color: white;
    background-color: black;
}

.cor {
    background-color: pink;
}

footer {
    padding: 15px;
    text-align: center;
    position: relative;
    top: 300px;
    background-color: pink;
}